<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddressBookDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A83850F81D10E8CA00435CBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A83851111D10E8CA00435CBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A838511C1D10E8CA00435CBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
